<h1>Welcome to MusicApp, <%= @user.email %>!</h1>
<p>
  Thanks for signing up!  To activate your account, click the following link:
</p>

<p> <%= link_to "activate account", @url %> </p>

<p>Thanks for joining and have a great day!</p>
