<h3>Log in!</h3>

<form action='<%= session_url %>' method='post'>
  <%= auth_token %>
  
  <label>Email address:</label>
  <p>
    <input type="string" name="user[email]">
  </p>

  <label>Password:</label>
  <p>
    <input type="password" name="user[password]">
  </p>

  <p>
    <input type="submit" value="Log in">
  </p>
</form>
