<h3>Register New User</h3>

<form action='<%= users_url %>' method='post'>
  <%= auth_token %>
  <label>Email address:</label>
  <p>
    <input type="string" name="user[email]" value="<%= @user.email %>">
  </p>

  <label>Password:</label>
  <p>
    <input type="password" name="user[password]">
  </p>

  <p>
    <input type="submit" value="Create New User">
  </p>
</form>
